html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Noto Sans KR";
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

body,
html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 10px;
  letter-spacing: -0.05rem;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

ol,
ul,
li {
  list-style: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Noto Sans KR", sans-serif !important;
}

#wrapper {
  max-width: 42.5rem;
  width: 100%;
  margin: 0 auto;
}
#wrapper #header {
  background-color: #032d53;
  display: flex;
  padding: 0.8rem 1.5rem;
  box-sizing: border-box;
}
#wrapper #header h1 {
  flex: 1;
}
#wrapper #header h1 img {
  width: 100%;
}
#wrapper #header nav {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#wrapper #header nav a {
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 400;
  text-align: center;
}
#wrapper #main > section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
#wrapper #main > img.title {
  width: 100%;
  display: block;
}
#wrapper #main #section-1 {
  padding: 6rem 1rem;
}
#wrapper #main #section-1 .main-text span {
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  color: #ffffff;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}
#wrapper #main #section-1 .main-text img {
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 1.5rem;
}
#wrapper #main #section-1 .main-text p {
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 500;
  text-align: center;
}
#wrapper #main #section-1 .medals {
  display: flex;
  justify-content: center;
  padding-top: 70%;
  padding-left: 5rem;
}
#wrapper #main #section-1 .medals li {
  flex: 1;
  text-align: center;
  margin-left: -15%;
}
#wrapper #main #section-1 .medals li img {
  width: 85%;
}
#wrapper #main #section-2 {
  text-align: center;
  padding: 5rem 2.5rem 15rem;
}
#wrapper #main #section-2 .title {
  font-size: 2.4rem;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background-color: #f15102;
  margin-bottom: 1.5rem;
}
#wrapper #main #section-2 img {
  width: 100%;
  display: inline-block;
  margin-bottom: 4rem;
}
#wrapper #main #section-2 ul {
  text-align: left;
  margin-bottom: 3rem;
}
#wrapper #main #section-2 ul li {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #ffffff;
  font-weight: bold;
}
#wrapper #main #section-2 ul li:not(:last-child) {
  margin-bottom: 2rem;
}
#wrapper #main #section-2 p {
  text-align: left;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.8rem;
}
#wrapper #main #section-3 {
  padding: 5rem 4rem 45rem;
}
#wrapper #main #section-3 .title {
  display: block;
  margin-bottom: 1rem;
}
#wrapper #main #section-3 img {
  width: 100%;
}
#wrapper #main #section-4 {
  padding: 3rem 0 31.5rem;
  text-align: center;
}
#wrapper #main #section-4 span {
  font-size: 1.4rem;
  color: #c1e2f5;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 1rem;
}
#wrapper #main #section-4 .title {
  width: 75%;
  display: block;
  margin: 0 auto 1.5rem;
  transform: translateX(-1.5rem);
}
#wrapper #main #section-4 .contents {
  width: 90%;
}
#wrapper #main #section-5 {
  padding: 27rem 3rem 4rem;
}
#wrapper #main #section-5 .title {
  width: 75%;
  display: block;
  margin: 0 auto 1.5rem;
}
#wrapper #main #section-5 .contents {
  width: 75%;
  display: block;
  margin: 0 auto 2rem;
}
#wrapper #main #section-5 form {
  display: flex;
}
#wrapper #main #section-5 form .input-area {
  flex: 3;
}
#wrapper #main #section-5 form .input-area input {
  display: block;
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 0.8rem;
}
#wrapper #main #section-5 form .input-area input:not(:last-child) {
  margin-bottom: 0.7rem;
}
#wrapper #main #section-5 form .submit-area {
  flex: 2;
  display: flex;
  flex-flow: column nowrap;
  margin-left: 1rem;
}
#wrapper #main #section-5 form .submit-area div {
  display: flex;
  align-items: center;
  width: 100%;
}
#wrapper #main #section-5 form .submit-area div input {
  margin-left: 0;
}
#wrapper #main #section-5 form .submit-area div label {
  font-size: 0.75rem;
  color: #ffffff;
  flex: 1;
}
#wrapper #main #section-5 form .submit-area div a {
  font-size: 0.75rem;
  color: #ffffff;
  background-color: #092846;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
}
#wrapper #main #section-5 form .submit-area div:last-of-type {
  margin-bottom: 1rem;
}
#wrapper #main #section-5 form .submit-area button {
  flex: 1;
  width: 100%;
  background-color: #ee731c;
  border-radius: 0.5rem;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.8rem;
}
#wrapper #main #section-6 {
  position: relative;
  padding-top: 2.8rem;
  padding-bottom: 3rem;
}
#wrapper #main #section-6 h5 {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  color: #292929;
  margin-bottom: 1rem;
}
#wrapper #main #section-6 > .title-2 {
  width: 80%;
  display: block;
  margin: 0 auto 32rem;
}
#wrapper #main #section-6 div {
  position: absolute;
  width: 100%;
  top: 24rem;
}
#wrapper #main #section-6 div img {
  width: 45%;
  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
#wrapper #main #section-6 div img:nth-child(1) {
  left: 1.5rem;
}
#wrapper #main #section-6 div img:nth-child(2) {
  right: 1rem;
  width: 47%;
}
#wrapper #main #section-6 .contents {
  width: 60%;
  display: block;
  margin: 0 auto 1.7rem;
}
#wrapper #main #section-6 span {
  color: #292929;
  display: block;
  text-align: center;
  font-size: 1.2rem;
}
#wrapper #main #section-7 {
  padding: 3.5rem 5.5rem 27rem;
}
#wrapper #main #section-7 .title-2 {
  display: block;
  width: 100%;
  margin: 0 auto 1rem;
}
#wrapper #main #section-7 div {
  text-align: center;
}
#wrapper #main #section-7 div p,
#wrapper #main #section-7 div span {
  font-size: 1.3rem;
  line-height: 1.88rem;
  font-weight: bold;
}
#wrapper #main #section-7 div p {
  color: #1f1f1f;
}
#wrapper #main #section-7 div span {
  color: #ffffff;
  background-color: #e40b0b;
  padding: 0.1rem 0.5rem 0;
}
#wrapper #main #section-7 .text {
  margin-bottom: 2.5rem;
}
#wrapper #main #section-7 .contents {
  width: 100%;
  display: block;
  margin: 0 auto 4rem;
}
#wrapper #main #section-7 .title-3 {
  width: 100%;
  display: block;
  margin-bottom: 2rem;
}
#wrapper #main #section-8 {
  padding: 3rem 2.5rem;
}
#wrapper #main #section-8 h5 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-bottom: 1rem;
}
#wrapper #main #section-8 .title_1 {
  width: 100%;
  display: block;
  margin-bottom: 3rem;
}
#wrapper #main #section-8 .box {
  background: #ffffff;
  width: 100%;
  box-sizing: border-box;
  padding-top: 2.5rem;
}
#wrapper #main #section-8 .box .title_2 {
  width: 60%;
  display: block;
  margin: 0 auto 1.5rem;
}
#wrapper #main #section-8 .box ul {
  padding: 1rem 3rem;
}
#wrapper #main #section-8 .box ul li {
  float: left;
  width: 50%;
  text-align: center;
  margin-bottom: 2rem;
}
#wrapper #main #section-8 .box ul li img {
  width: 80%;
}
#wrapper #main #section-8 .box ul::after {
  content: "";
  display: block;
  clear: both;
}
#wrapper #main #section-8 .box .slider-wrapper .text {
  padding: 2.5rem 2rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#wrapper #main #section-8 .box .slider-wrapper .text .title_4 {
  width: 100%;
  margin-bottom: 1.5rem;
}
#wrapper #main #section-8 .box .slider-wrapper .text p {
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: #464646;
  margin-bottom: 14rem;
}
#wrapper #main #section-8 .box .slider-wrapper .swiper-container .swiper-slide {
  width: 12rem;
}
#wrapper #main #section-8 .box .slider-wrapper .swiper-container .swiper-slide img {
  width: 100%;
  display: block;
}
#wrapper #main #section-9 {
  padding: 4.8rem 0 1rem;
}
#wrapper #main #section-9 .title {
  width: 80%;
  display: block;
  margin: 0 auto 4rem;
}
#wrapper #main #section-9 .swiper-container {
  position: relative;
}
#wrapper #main #section-9 .swiper-container .swiper-slide {
  width: 65%;
  border-radius: 1.5rem;
  overflow: hidden;
  transition: 0.3s transform ease;
  transform-origin: bottom;
}
#wrapper #main #section-9 .swiper-container .swiper-slide img {
  width: 100%;
}
#wrapper #main #section-9 .swiper-container .swiper-slide:not(.swiper-slide-active) {
  transform: scale(0.65);
}
#wrapper #main #section-9 .swiper-container .navigation {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  top: -3rem;
  z-index: 500;
}
#wrapper #main #section-9 .swiper-container .navigation .sticker {
  width: 100%;
}
#wrapper #main #section-9 .swiper-container .navigation .swiper-button-prev,
#wrapper #main #section-9 .swiper-container .navigation .swiper-button-next {
  color: #04447c;
  outline: none;
}
#wrapper #main #section-9 .swiper-container .navigation .swiper-button-prev {
  left: -3.5rem;
}
#wrapper #main #section-9 .swiper-container .navigation .swiper-button-next {
  right: -3.5rem;
}
#wrapper #main #section-9 .swiper-container .navigation .swiper-button-prev:after,
#wrapper #main #section-9 .swiper-container .navigation .swiper-button-next:after {
  font-size: 2rem;
}
#wrapper #main #section-10 {
  padding: 5rem 0;
}
#wrapper #main #section-10 .bubble {
  position: absolute;
  width: 6.9rem;
  right: 2rem;
  top: 1rem;
}
#wrapper #main #section-10 h5 {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.3rem;
  position: relative;
  z-index: 5;
  text-align: center;
}
#wrapper #main #section-10 h5 b {
  color: #ffe953;
}
#wrapper #main #section-10 .title {
  width: 90%;
  display: block;
  margin: -1rem auto 3.5rem;
}
#wrapper #main #section-10 .contents {
  width: 95%;
  display: block;
  margin: 0 auto;
}
#wrapper #main #section-11 {
  padding: 2.5rem 3rem 4rem;
}
#wrapper #main #section-11 .title {
  width: 80%;
  display: block;
  margin: 0 auto 1.5rem;
}
#wrapper #main #section-11 .text {
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #272727;
  text-align: center;
  margin-bottom: 4rem;
}
#wrapper #main #section-11 .text b {
  font-weight: bold;
}
#wrapper #main #section-11 .question-list {
  margin-bottom: 2.5rem;
}
#wrapper #main #section-11 .question-list li:not(:last-child) {
  margin-bottom: 1rem;
}
#wrapper #main #section-11 .question-list li img {
  width: 100%;
}
#wrapper #main #section-11 .title_3 {
  width: 100%;
  display: block;
  margin-bottom: 2rem;
}
#wrapper #main #section-11 .list {
  margin-bottom: 2.5rem;
}
#wrapper #main #section-11 .list li {
  float: left;
  width: 47%;
}
#wrapper #main #section-11 .list li:not(:nth-child(3)):not(:nth-child(4)) {
  margin-bottom: 3%;
}
#wrapper #main #section-11 .list li:nth-child(2n-1) {
  margin-right: 3%;
}
#wrapper #main #section-11 .list li img {
  width: 100%;
}
#wrapper #main #section-11 .list::after {
  content: "";
  display: block;
  clear: both;
}
#wrapper #main #section-11 .title_4 {
  width: 80%;
  display: block;
  margin: 0 auto;
}
#wrapper #main #section-12 {
  padding: 3rem 4rem 5.5rem;
}
#wrapper #main #section-12 h5 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: #373737;
  margin-bottom: 1.5rem;
}
#wrapper #main #section-12 .title_2 {
  width: 100%;
  display: block;
  margin-bottom: 2.5rem;
}
#wrapper #main #section-12 p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-bottom: 2.5rem;
  color: #353535;
  text-align: center;
}
#wrapper #main #section-12 p b {
  font-weight: bold;
}
#wrapper #main #section-12 .testimonial {
  width: 100%;
}
#wrapper #main #section-13 {
  background-color: #434343;
  padding: 3.5rem;
}
#wrapper #main #section-13 .title {
  width: 100%;
  display: block;
  margin-bottom: 3rem;
}
#wrapper #main #section-13 .timer {
  text-align: center;
  letter-spacing: 0.2rem;
  margin-bottom: 5rem;
}
#wrapper #main #section-13 .timer span {
  background-image: url("/assets/images/m_section_13_timer.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  color: #ffffff;
}
#wrapper #main #section-13 .timer b {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #ffffff;
}
#wrapper #main #section-13 form {
  margin-bottom: 4rem;
}
#wrapper #main #section-13 form .input-row {
  display: flex;
  margin-bottom: 1rem;
}
#wrapper #main #section-13 form .input-row .input {
  display: flex;
  align-items: center;
  flex: 1;
}
#wrapper #main #section-13 form .input-row .input label {
  font-size: 0.9rem;
  color: #ffffff;
  font-weight: bold;
  margin-right: 0.5rem;
  flex: 0 0 4rem;
  text-align: right;
}
#wrapper #main #section-13 form .input-row .input input,
#wrapper #main #section-13 form .input-row .input select {
  background-color: #ffffff;
  padding: 1rem 0.9rem;
  flex: 1;
  font-size: 0.9rem;
  width: 100%;
}
#wrapper #main #section-13 form .input-row .input input:not(:last-child),
#wrapper #main #section-13 form .input-row .input select:not(:last-child) {
  margin-right: 1.5rem;
}
#wrapper #main #section-13 form .agree-area {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
#wrapper #main #section-13 form .agree-area .check {
  display: flex;
  align-items: center;
}
#wrapper #main #section-13 form .agree-area .check label {
  font-size: 0.8rem;
  color: #ffffff;
}
#wrapper #main #section-13 form button {
  width: 80%;
  margin: 0 auto 4rem;
  display: block;
}
#wrapper #main #section-13 form button img {
  width: 100%;
}
#wrapper #main #section-13 .call {
  width: 80%;
  display: block;
  margin: 0 auto;
}
#wrapper #main #section-14 {
  padding: 4rem 1rem 2.5rem;
  background-color: #f6f1ea;
}
#wrapper #main #section-14 .title_2 {
  width: 80%;
  display: block;
  margin: 0 auto 2.5rem;
}
#wrapper #main #section-14 .box {
  background-color: #ffffff;
  width: 100%;
  padding: 3rem 1.5rem;
  box-sizing: border-box;
}
#wrapper #main #section-14 .box > div span {
  font-size: 1.3rem;
  color: #555555;
  display: block;
  text-align: center;
  margin-bottom: 0.8rem;
}
#wrapper #main #section-14 .box > div .title {
  height: 1.9rem;
  display: block;
  margin: 0 auto 2rem;
}
#wrapper #main #section-14 .box > div p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #2b2b2b;
}
#wrapper #main #section-14 .box > div p b {
  color: #007bc7;
}
#wrapper #main #section-14 .box .box_1 {
  margin-bottom: 2.5rem;
}
#wrapper #main #section-14 .box .box_1 .img {
  width: 50%;
  display: block;
  margin: 0 auto 2rem;
}
#wrapper #main #section-14 .box .box_2 {
  margin-top: 2.5rem;
}
#wrapper #main #section-14 .box .box_2 .img {
  width: 100%;
  display: block;
  margin: 0 auto 2rem;
}
#wrapper #main #section-14 .box > .more {
  width: 100%;
}
#wrapper #main #section-15 {
  padding: 2.5rem 2rem 5rem;
}
#wrapper #main #section-15 .label {
  height: 1.5rem;
  display: block;
  margin: 0 auto 2rem;
}
#wrapper #main #section-15 .title_2 {
  height: 7rem;
  display: block;
  margin: 0 auto 1rem;
}
#wrapper #main #section-15 .title_3 {
  height: 7rem;
  display: block;
  margin: 0 auto 1.5rem;
}
#wrapper #main #section-15 .box {
  background-color: #ffffff;
  border-radius: 1.5rem;
  padding: 1.5rem 2.5rem;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
}
#wrapper #main #section-15 .box ul {
  display: flex;
  justify-content: space-between;
}
#wrapper #main #section-15 .box ul li {
  flex: 1;
}
#wrapper #main #section-15 .box ul li:nth-child(2n+1) {
  flex: 0 0 29%;
}
#wrapper #main #section-15 .box ul li img {
  width: 100%;
}
#wrapper #main #section-15 .text {
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #ffffff;
  text-align: center;
}
#wrapper #main #section-15 .text b {
  font-weight: bold;
  color: #bdd8ff;
}
#wrapper #main #section-16 {
  padding: 3.5rem 1.5rem 4rem;
  background-color: #1c283a;
}
#wrapper #main #section-16 .label {
  height: 1.5rem;
  display: block;
  margin: 0 auto 1.5rem;
}
#wrapper #main #section-16 .title {
  height: 7rem;
  display: block;
  margin: 0 auto 2rem;
}
#wrapper #main #section-16 .box {
  background-color: #ffffff;
  border-radius: 1.5rem;
  box-sizing: border-box;
  padding: 3rem 0;
}
#wrapper #main #section-16 .box ul {
  display: flex;
  flex-flow: row wrap;
}
#wrapper #main #section-16 .box ul li {
  flex: 1 0 50%;
}
#wrapper #main #section-16 .box ul li:not(:nth-child(3)):not(:nth-child(4)) {
  margin-bottom: 2.5rem;
}
#wrapper #main #section-16 .box ul li .num {
  width: 2rem;
  display: block;
  margin: 0 auto 1.5rem;
}
#wrapper #main #section-16 .box ul li .img {
  width: 50%;
  display: block;
  margin: 0 auto 1.5rem;
}
#wrapper #main #section-16 .box ul li p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #121212;
  text-align: center;
}
#wrapper #main #section-16 .box ul li p b {
  font-weight: bold;
  color: #2e5ca6;
}
#wrapper #main #section-17 {
  padding: 3.5rem 1.2rem 4.5rem;
}
#wrapper #main #section-17 .label {
  height: 1.5rem;
  display: block;
  margin: 0 auto 2rem;
}
#wrapper #main #section-17 .title {
  height: 7rem;
  display: block;
  margin: 0 auto 1rem;
}
#wrapper #main #section-17 ul li img {
  width: 100%;
}
#wrapper #main #section-17 ul li:not(:last-child) {
  margin-bottom: 0.7rem;
}
#wrapper #main #section-18 {
  padding: 3.5rem 1.5rem;
}
#wrapper #main #section-18 .label {
  height: 1.5rem;
  display: block;
  margin: 0 auto 2rem;
}
#wrapper #main #section-18 .title {
  height: 7rem;
  display: block;
  margin: 0 auto 3rem;
}
#wrapper #main #section-18 .box-1 {
  padding: 3rem 3rem;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#wrapper #main #section-18 .box-1 ul {
  display: flex;
  align-items: center;
}
#wrapper #main #section-18 .box-1 ul li {
  text-align: center;
  flex: 1;
}
#wrapper #main #section-18 .box-1 ul li:nth-child(2n+1) {
  flex: 0 0 25%;
}
#wrapper #main #section-18 .box-1 ul li img {
  width: 100%;
}
#wrapper #main #section-18 .box-1 ul li .dots {
  width: 2%;
}
#wrapper #main #section-18 .box-2 {
  padding: 5rem 1rem 0.5rem;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#wrapper #main #section-18 .box-2 ul {
  display: flex;
  flex-flow: row wrap;
}
#wrapper #main #section-18 .box-2 ul li {
  flex: 1 1 30%;
  text-align: center;
  margin-bottom: 2.5rem;
}
#wrapper #main #section-18 .box-2 ul li img {
  height: 10.7rem;
}
#wrapper #main #section-18 .box-2 ul li:nth-child(4) img {
  height: 12.5rem;
}
#wrapper #main #section-19 {
  padding: 6.5rem 2.1rem;
}
#wrapper #main #section-19 p {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.9rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 1.5rem;
}
#wrapper #main #section-19 .title {
  height: 7rem;
  display: block;
  margin: 0 auto 3rem;
}
#wrapper #main #section-19 .box .img_1 {
  width: 101%;
}
#wrapper #main #section-19 .box .vs {
  width: 25%;
  display: block;
  position: relative;
  z-index: 5;
  margin: -2.8rem auto;
}
#wrapper #main #section-19 .box .img_2 {
  width: 103%;
}
#wrapper #main #section-20 {
  padding: 2.5rem 1rem;
}
#wrapper #main #section-20 .title {
  width: 80%;
  display: block;
  margin: 0 auto 1rem;
}
#wrapper #main #section-20 .table {
  width: 100%;
  display: block;
  margin-bottom: 2rem;
}
#wrapper #main #section-20 .form-area {
  padding: 2.5rem 3rem;
  box-sizing: border-box;
  background-color: #1b1b1b;
  border: 3px solid #04447c;
}
#wrapper #main #section-20 .form-area .form-title {
  width: 80%;
  display: block;
  margin: 0 auto 2rem;
}
#wrapper #main #section-20 .form-area form {
  display: flex;
}
#wrapper #main #section-20 .form-area form .input-area {
  flex: 3;
  margin-right: 1.5rem;
}
#wrapper #main #section-20 .form-area form .input-area .input-row {
  display: flex;
  align-items: center;
}
#wrapper #main #section-20 .form-area form .input-area .input-row:not(:last-child) {
  margin-bottom: 0.5rem;
}
#wrapper #main #section-20 .form-area form .input-area .input-row label {
  font-size: 0.9rem;
  color: #ffffff;
  font-weight: bold;
  margin-right: 1rem;
  flex: 0 0 4rem;
  text-align: right;
}
#wrapper #main #section-20 .form-area form .input-area .input-row input {
  display: block;
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.7rem;
  padding: 0.8rem 0.8rem;
}
#wrapper #main #section-20 .form-area form .input-area .input-row input:not(:last-child) {
  margin-bottom: 0.7rem;
}
#wrapper #main #section-20 .form-area form .submit-area {
  flex: 2;
  display: flex;
  flex-flow: column nowrap;
}
#wrapper #main #section-20 .form-area form .submit-area div {
  display: flex;
  align-items: center;
  width: 100%;
}
#wrapper #main #section-20 .form-area form .submit-area div input {
  margin-left: 0;
  width: 0.5rem;
}
#wrapper #main #section-20 .form-area form .submit-area div label {
  font-size: 0.47rem;
  color: #ffffff;
  flex: 1;
}
#wrapper #main #section-20 .form-area form .submit-area div a {
  font-size: 0.47rem;
  color: #ffffff;
  background-color: #092846;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
}
#wrapper #main #section-20 .form-area form .submit-area div:last-of-type {
  margin-bottom: 1rem;
}
#wrapper #main #section-20 .form-area form .submit-area button {
  flex: 1;
  width: 100%;
  color: #1b1b1b;
  font-weight: bold;
  background-color: #ffa200;
  font-size: 1.4rem;
}

/*# sourceMappingURL=mobile.css.map */
