@charset "UTF-8";
body {
  font-family: "Noto Sans KR", sans-serif !important;
}
#wrapper {
  max-width: 42.5rem;
  width: 100%;
  margin: 0 auto;

  #header {
    background-color: $headerColor;
    display: flex;
    padding: 0.8rem 1.5rem;
    box-sizing: border-box;
    h1 {
      flex: 1;
      img {
        width: 100%;
      }
    }
    nav {
      flex: 5;
      display: flex;
      align-items: center;
      justify-content: space-around;
      a {
        color: #ffffff;
        font-size: 1.4rem;
        line-height: 1.7rem;
        font-weight: 400;
        text-align: center;
      }
    }
  }

  #main {
    > section {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
    }

    > img.title {
      width: 100%;
      display: block;
    }

    #section-1 {
      padding: 6rem 1rem;
      .main-text {
        span {
          font-weight: 600;
          font-size: 1.4rem;
          letter-spacing: 0.1rem;
          color: #ffffff;
          display: block;
          text-align: center;
          margin-bottom: 1rem;
        }
        img {
          width: 100%;
          display: block;
          text-align: center;
          margin-bottom: 1.5rem;
        }
        p {
          color: #ffffff;
          font-size: 1.1rem;
          line-height: 1.6rem;
          font-weight: 500;
          text-align: center;
        }
      }
      .medals {
        display: flex;
        justify-content: center;
        padding-top: 70%;
        padding-left: 5rem;
        li {
          flex: 1;
          text-align: center;
          margin-left: -15%;
          img {
            width: 85%;
          }
        }
      }
    }

    #section-2 {
      text-align: center;
      padding: 5rem 2.5rem 15rem;
      .title {
        font-size: 2.4rem;
        color: #ffffff;
        display: inline-block;
        font-weight: bold;
        padding: 0.5rem 1rem;
        background-color: #f15102;
        margin-bottom: 1.5rem;
      }
      img {
        width: 100%;
        display: inline-block;
        margin-bottom: 4rem;
      }
      ul {
        text-align: left;
        margin-bottom: 3rem;
        li {
          font-size: 1.4rem;
          line-height: 1.7rem;
          color: #ffffff;
          font-weight: bold;
          &:not(:last-child) {
            margin-bottom: 2rem;
          }
        }
      }
      p {
        text-align: left;
        color: #ffffff;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 1.8rem;
      }
    }

    #section-3 {
      padding: 5rem 4rem 45rem;
      .title {
        display: block;
        margin-bottom: 1rem;
      }
      img {
        width: 100%;
      }
    }

    #section-4 {
      padding: 3rem 0 31.5rem;
      text-align: center;
      span {
        font-size: 1.4rem;
        color: #c1e2f5;
        font-weight: 600;
        display: inline-block;
        margin-bottom: 1rem;
      }
      .title {
        width: 75%;
        display: block;
        margin: 0 auto 1.5rem;
        transform: translateX(-1.5rem);
      }
      .contents {
        width: 90%;
      }
    }
    #section-5 {
      padding: 27rem 3rem 4rem;
      .title {
        width: 75%;
        display: block;
        margin: 0 auto 1.5rem;
      }
      .contents {
        width: 75%;
        display: block;
        margin: 0 auto 2rem;
      }
      form {
        display: flex;
        .input-area {
          flex: 3;
          input {
            display: block;
            background-color: #ffffff;
            width: 100%;
            box-sizing: border-box;
            padding: 1rem 0.8rem;
            &:not(:last-child) {
              margin-bottom: 0.7rem;
            }
          }
        }
        .submit-area {
          flex: 2;
          display: flex;
          flex-flow: column nowrap;
          margin-left: 1rem;
          div {
            display: flex;
            align-items: center;
            width: 100%;
            input {
              margin-left: 0;
            }
            label {
              font-size: 0.75rem;
              color: #ffffff;
              flex: 1;
            }
            a {
              font-size: 0.75rem;
              color: #ffffff;
              background-color: #092846;
              border-radius: 0.2rem;
              padding: 0.2rem 0.5rem;
            }
            &:last-of-type {
              margin-bottom: 1rem;
            }
          }
          button {
            flex: 1;
            width: 100%;
            background-color: #ee731c;
            border-radius: 0.5rem;
            color: #ffffff;
            font-weight: bold;
            font-size: 1.8rem;
          }
        }
      }
    }
    #section-6 {
      position: relative;
      padding-top: 2.8rem;
      padding-bottom: 3rem;

      h5 {
        font-size: 1.6rem;
        font-weight: bold;
        text-align: center;
        color: #292929;
        margin-bottom: 1rem;
      }

      > .title-2 {
        width: 80%;
        display: block;
        margin: 0 auto 32rem;
      }

      div {
        position: absolute;
        width: 100%;
        top: 24rem;
        img {
          width: 45%;
          float: left;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto 0;
          &:nth-child(1) {
            left: 1.5rem;
          }
          &:nth-child(2) {
            right: 1rem;
            width: 47%;
          }
        }
      }

      .contents {
        width: 60%;
        display: block;
        margin: 0 auto 1.7rem;
      }

      span {
        color: #292929;
        display: block;
        text-align: center;
        font-size: 1.2rem;
      }
    }

    #section-7 {
      padding: 3.5rem 5.5rem 27rem;

      .title-2 {
        display: block;
        width: 100%;
        margin: 0 auto 1rem;
      }

      div {
        text-align: center;
        p,
        span {
          font-size: 1.3rem;
          line-height: 1.88rem;
          font-weight: bold;
        }
        p {
          color: #1f1f1f;
        }
        span {
          color: #ffffff;
          background-color: #e40b0b;
          padding: 0.1rem 0.5rem 0;
        }
      }

      .text {
        margin-bottom: 2.5rem;
      }

      .contents {
        width: 100%;
        display: block;
        margin: 0 auto 4rem;
      }

      .title-3 {
        width: 100%;
        display: block;
        margin-bottom: 2rem;
      }
    }

    #section-8 {
      padding: 3rem 2.5rem;

      h5 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        margin-bottom: 1rem;
      }

      .title_1 {
        width: 100%;
        display: block;
        margin-bottom: 3rem;
      }

      .box {
        background: #ffffff;
        width: 100%;
        box-sizing: border-box;
        padding-top: 2.5rem;
        .title_2 {
          width: 60%;
          display: block;
          margin: 0 auto 1.5rem;
        }
        ul {
          padding: 1rem 3rem;
          li {
            float: left;
            width: 50%;
            text-align: center;
            margin-bottom: 2rem;
            img {
              width: 80%;
            }
          }
          &::after {
            content: "";
            display: block;
            clear: both;
          }
        }
        .slider-wrapper {
          .text {
            padding: 2.5rem 2rem;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;

            .title_4 {
              width: 100%;
              margin-bottom: 1.5rem;
            }

            p {
              font-size: 1.1rem;
              line-height: 1.7rem;
              color: #464646;
              margin-bottom: 14rem;
            }
          }

          .swiper-container {
            .swiper-slide {
              width: 12rem;
              img {
                width: 100%;
                display: block;
              }
            }
          }
        }
      }
    }
    #section-9 {
      padding: 4.8rem 0 1rem;
      .title {
        width: 80%;
        display: block;
        margin: 0 auto 4rem;
      }
      .swiper-container {
        position: relative;
        .swiper-slide {
          width: 65%;
          border-radius: 1.5rem;
          overflow: hidden;
          img {
            width: 100%;
          }
          transition: 0.3s transform ease;
          transform-origin: bottom;
          &:not(.swiper-slide-active) {
            transform: scale(0.65);
          }
        }
        .navigation {
          position: relative;
          width: 10rem;
          height: 10rem;
          margin: 0 auto;
          top: -3rem;
          z-index: 500;
          .sticker {
            width: 100%;
          }
          .swiper-button-prev,
          .swiper-button-next {
            color: #04447c;
            outline: none;
          }
          .swiper-button-prev {
            left: -3.5rem;
          }
          .swiper-button-next {
            right: -3.5rem;
          }
          .swiper-button-prev:after,
          .swiper-button-next:after {
            font-size: 2rem;
          }
        }
      }
    }
    #section-10 {
      padding: 5rem 0;
      .bubble {
        position: absolute;
        width: 6.9rem;
        right: 2rem;
        top: 1rem;
      }
      h5 {
        color: #ffffff;
        font-weight: bold;
        font-size: 1.3rem;
        position: relative;
        z-index: 5;
        text-align: center;
        b {
          color: #ffe953;
        }
      }
      .title {
        width: 90%;
        display: block;
        margin: -1rem auto 3.5rem;
      }
      .contents {
        width: 95%;
        display: block;
        margin: 0 auto;
      }
    }
    #section-11 {
      padding: 2.5rem 3rem 4rem;
      .title {
        width: 80%;
        display: block;
        margin: 0 auto 1.5rem;
      }
      .text {
        font-size: 1.3rem;
        line-height: 1.8rem;
        color: #272727;
        text-align: center;
        margin-bottom: 4rem;
        b {
          font-weight: bold;
        }
      }
      .question-list {
        margin-bottom: 2.5rem;
        li {
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
          img {
            width: 100%;
          }
        }
      }
      .title_3 {
        width: 100%;
        display: block;
        margin-bottom: 2rem;
      }
      .list {
        margin-bottom: 2.5rem;
        li {
          float: left;
          width: 47%;
          &:not(:nth-child(3)):not(:nth-child(4)) {
            margin-bottom: 3%;
          }
          &:nth-child(2n - 1) {
            margin-right: 3%;
          }
          img {
            width: 100%;
          }
        }
        &::after {
          content: "";
          display: block;
          clear: both;
        }
      }
      .title_4 {
        width: 80%;
        display: block;
        margin: 0 auto;
      }
    }
    #section-12 {
      padding: 3rem 4rem 5.5rem;
      h5 {
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
        color: #373737;
        margin-bottom: 1.5rem;
      }
      .title_2 {
        width: 100%;
        display: block;
        margin-bottom: 2.5rem;
      }
      p {
        font-size: 1.2rem;
        line-height: 1.7rem;
        margin-bottom: 2.5rem;
        color: #353535;
        text-align: center;
        b {
          font-weight: bold;
        }
      }
      .testimonial {
        width: 100%;
      }
    }
    #section-13 {
      background-color: #434343;
      padding: 3.5rem;
      .title {
        width: 100%;
        display: block;
        margin-bottom: 3rem;
      }
      .timer {
        text-align: center;
        letter-spacing: 0.2rem;
        margin-bottom: 5rem;
        span {
          background-image: url("/assets/images/m_section_13_timer.png");
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          font-family: "Poppins", sans-serif;
          font-size: 2.5rem;
          font-weight: 500;
          padding: 0.5rem 1rem;
          color: #ffffff;
        }
        b {
          font-family: "Poppins", sans-serif;
          font-size: 2.5rem;
          font-weight: 500;
          color: #ffffff;
        }
      }
      form {
        margin-bottom: 4rem;
        .input-row {
          display: flex;
          margin-bottom: 1rem;
          .input {
            display: flex;
            align-items: center;
            flex: 1;
            label {
              font-size: 0.9rem;
              color: #ffffff;
              font-weight: bold;
              margin-right: 0.5rem;
              flex: 0 0 4rem;
              text-align: right;
            }
            input,
            select {
              background-color: #ffffff;
              padding: 1rem 0.9rem;
              flex: 1;
              font-size: 0.9rem;
              width: 100%;
              &:not(:last-child) {
                margin-right: 1.5rem;
              }
            }
          }
        }
        .agree-area {
          display: flex;
          justify-content: flex-end;
          margin-bottom: 1rem;
          .check {
            display: flex;
            align-items: center;
            label {
              font-size: 0.8rem;
              color: #ffffff;
            }
          }
        }
        button {
          width: 80%;
          margin: 0 auto 4rem;
          display: block;
          img {
            width: 100%;
          }
        }
      }
      .call {
        width: 80%;
        display: block;
        margin: 0 auto;
      }
    }
    #section-14 {
      padding: 4rem 1rem 2.5rem;
      background-color: #f6f1ea;
      .title_2 {
        width: 80%;
        display: block;
        margin: 0 auto 2.5rem;
      }

      .box {
        background-color: #ffffff;
        width: 100%;
        padding: 3rem 1.5rem;
        box-sizing: border-box;
        > div {
          span {
            font-size: 1.3rem;
            color: #555555;
            display: block;
            text-align: center;
            margin-bottom: 0.8rem;
          }
          .title {
            height: 1.9rem;
            display: block;
            margin: 0 auto 2rem;
          }
          p {
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: center;
            color: #2b2b2b;
            b {
              color: #007bc7;
            }
          }
        }
        .box_1 {
          margin-bottom: 2.5rem;
          .img {
            width: 50%;
            display: block;
            margin: 0 auto 2rem;
          }
        }
        .box_2 {
          margin-top: 2.5rem;
          .img {
            width: 100%;
            display: block;
            margin: 0 auto 2rem;
          }
        }
        > .more {
          width: 100%;
        }
      }
    }
    #section-15 {
      padding: 2.5rem 2rem 5rem;

      .label {
        height: 1.5rem;
        display: block;
        margin: 0 auto 2rem;
      }
      .title_2 {
        height: 7rem;
        display: block;
        margin: 0 auto 1rem;
      }
      .title_3 {
        height: 7rem;
        display: block;
        margin: 0 auto 1.5rem;
      }
      .box {
        background-color: #ffffff;
        border-radius: 1.5rem;
        padding: 1.5rem 2.5rem;
        box-sizing: border-box;
        margin-bottom: 2.5rem;
        ul {
          display: flex;
          justify-content: space-between;
          li {
            flex: 1;
            &:nth-child(2n + 1) {
              flex: 0 0 29%;
            }
            img {
              width: 100%;
            }
          }
        }
      }
      .text {
        font-size: 1.4rem;
        line-height: 1.9rem;
        color: #ffffff;
        text-align: center;
        b {
          font-weight: bold;
          color: #bdd8ff;
        }
      }
    }
    #section-16 {
      padding: 3.5rem 1.5rem 4rem;
      background-color: #1c283a;
      .label {
        height: 1.5rem;
        display: block;
        margin: 0 auto 1.5rem;
      }
      .title {
        height: 7rem;
        display: block;
        margin: 0 auto 2rem;
      }
      .box {
        background-color: #ffffff;
        border-radius: 1.5rem;
        box-sizing: border-box;
        padding: 3rem 0;
        ul {
          display: flex;
          flex-flow: row wrap;
          li {
            flex: 1 0 50%;
            &:not(:nth-child(3)):not(:nth-child(4)) {
              margin-bottom: 2.5rem;
            }
            .num {
              width: 2rem;
              display: block;
              margin: 0 auto 1.5rem;
            }
            .img {
              width: 50%;
              display: block;
              margin: 0 auto 1.5rem;
            }
            p {
              font-size: 1rem;
              line-height: 1.5rem;
              color: #121212;
              text-align: center;
              b {
                font-weight: bold;
                color: #2e5ca6;
              }
            }
          }
        }
      }
    }
    #section-17 {
      padding: 3.5rem 1.2rem 4.5rem;
      .label {
        height: 1.5rem;
        display: block;
        margin: 0 auto 2rem;
      }
      .title {
        height: 7rem;
        display: block;
        margin: 0 auto 1rem;
      }
      ul {
        li {
          img {
            width: 100%;
          }
          &:not(:last-child) {
            margin-bottom: 0.7rem;
          }
        }
      }
    }
    #section-18 {
      padding: 3.5rem 1.5rem;
      .label {
        height: 1.5rem;
        display: block;
        margin: 0 auto 2rem;
      }
      .title {
        height: 7rem;
        display: block;
        margin: 0 auto 3rem;
      }
      .box-1 {
        padding: 3rem 3rem;
        box-sizing: border-box;
        margin-bottom: 2.5rem;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        ul {
          display: flex;
          align-items: center;
          li {
            text-align: center;
            flex: 1;
            &:nth-child(2n + 1) {
              flex: 0 0 25%;
            }
            img {
              width: 100%;
            }
            .dots {
              width: 2%;
            }
          }
        }
      }
      .box-2 {
        padding: 5rem 1rem 0.5rem;
        box-sizing: border-box;
        margin-bottom: 2.5rem;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        ul {
          display: flex;
          flex-flow: row wrap;
          li {
            flex: 1 1 30%;
            text-align: center;
            margin-bottom: 2.5rem;
            img {
              height: 10.7rem;
            }
            &:nth-child(4) {
              img {
                height: 12.5rem;
              }
            }
          }
        }
      }
    }
    #section-19 {
      padding: 6.5rem 2.1rem;
      p {
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.9rem;
        color: #ffffff;
        text-align: center;
        margin-bottom: 1.5rem;
      }
      .title {
        height: 7rem;
        display: block;
        margin: 0 auto 3rem;
      }
      .box {
        .img_1 {
          width: 101%;
        }
        .vs {
          width: 25%;
          display: block;
          position: relative;
          z-index: 5;
          margin: -2.8rem auto;
        }
        .img_2 {
          width: 103%;
        }
      }
    }
    #section-20 {
      padding: 2.5rem 1rem;
      .title {
        width: 80%;
        display: block;
        margin: 0 auto 1rem;
      }
      .table {
        width: 100%;
        display: block;
        margin-bottom: 2rem;
      }
      .form-area {
        padding: 2.5rem 3rem;
        box-sizing: border-box;
        background-color: #1b1b1b;
        border: 3px solid #04447c;
        .form-title {
          width: 80%;
          display: block;
          margin: 0 auto 2rem;
        }
        form {
          display: flex;
          .input-area {
            flex: 3;
            margin-right: 1.5rem;
            .input-row {
              &:not(:last-child) {
                margin-bottom: 0.5rem;
              }
              display: flex;
              align-items: center;
              label {
                font-size: 0.9rem;
                color: #ffffff;
                font-weight: bold;
                margin-right: 1rem;
                flex: 0 0 4rem;
                text-align: right;
              }
              input {
                display: block;
                background-color: #ffffff;
                width: 100%;
                box-sizing: border-box;
                font-size: 0.7rem;
                padding: 0.8rem 0.8rem;
                &:not(:last-child) {
                  margin-bottom: 0.7rem;
                }
              }
            }
          }
          .submit-area {
            flex: 2;
            display: flex;
            flex-flow: column nowrap;
            div {
              display: flex;
              align-items: center;
              width: 100%;
              input {
                margin-left: 0;
                width: 0.5rem;
              }
              label {
                font-size: 0.47rem;
                color: #ffffff;
                flex: 1;
              }
              a {
                font-size: 0.47rem;
                color: #ffffff;
                background-color: #092846;
                border-radius: 0.2rem;
                padding: 0.2rem 0.5rem;
              }
              &:last-of-type {
                margin-bottom: 1rem;
              }
            }
            button {
              flex: 1;
              width: 100%;
              color: #1b1b1b;
              font-weight: bold;
              background-color: #ffa200;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}
